
<section class="text-center">
  
  
  <div *ngIf="isError()" class="alert alert-danger" role="alert">
    <span class="d-block" *ngIf="error.FirstName"> {{error.FirstName}} </span> 
    <span class="d-block" *ngIf="error.Email"> {{error.Email}} </span> 
  <span class="d-block" *ngIf="error.LastName"> {{error.LastName}} </span> 
  <span class="d-block" *ngIf="error.Password"> {{error.Password}} </span> 
  <span class="d-block" *ngIf="error.Username"> {{error.Username}} </span> 
  <span class="d-block" *ngIf="customMsg"> {{ customMsg }} </span>

  </div>
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
   
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Sign up now</h2>
            <form>
           
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="fName" id="form3Example1" class="form-control" placeholder="First name"
                    [(ngModel)]="newRegister.firstName"/>
                  
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="lName" id="form3Example2" class="form-control" placeholder="Last name"
                    [(ngModel)]="newRegister.lastName" />
                  </div>
                </div>
              </div>
  
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" name="username" id="form3Example3" class="form-control"  placeholder="user name"
                [(ngModel)]="newRegister.username"/>
                
              </div>
              <div class="form-outline mb-4">
                <input type="email" name="email" id="form3Example3" class="form-control" placeholder="Email address"
                [(ngModel)]="newRegister.email"/>
               
              </div>
             
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" name="password" id="form3Example4" class="form-control" placeholder="Password" 
                [(ngModel)]="newRegister.password"/>
                
              </div>
  
             
              <button type="submit" class="btn btn-primary btn-block mb-4" (click)="Register()" routerLink="/Home">
                Sign up
              </button>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->